@import "maplibre-gl/dist/maplibre-gl.css";
@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Compass north arrow — red fill */
.maplibregl-ctrl-compass-north {
  fill: #ef4444;
}
